
header{
  text-align: center;
  margin-bottom: 1em;
  background-color: #1a1a1a;
  padding: 3px 8px;
  border-radius: 8px;
  display: inline-block;
}

h1 {
  font-size: 3.2em;
  text-align: center;
  line-height: 1.1;
  color: aqua;
}

ul{overflow: hidden;}

li{
  display: inline-block;
  list-style-type: none;
  margin-bottom: 1em;
  font-size: 35px;
  font-weight: 700;
  color: #646cff;
  text-transform: uppercase;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

